* {
    text-decoration: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{color: goldenrod; font-weight: bolder;}

input[type=text],input[type=number], select[type=text], textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top: 5px;
}


label, select, td {padding: 5px; display: inline-block;}

input[type=submit] {
    background-color: rgb(225, 197, 124);
    color: white;
    margin: 10px;
    padding: 5px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {background-color: goldenrod;}

.input-div {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.col-50 {float: left; width: 50%; margin-top: 3px;}

/* Clear floats after the columns */
.row:after {content: "";display: table;clear: both;}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600) {
.col-50, input[type=submit] {width: 100%;margin-top: 0;}
}